<p>choclates!</p>
<!-- <section class="mt-3">

    <div class="container">

        <div class="row">

            <div class="col-md-3" *ngFor="let prod of prodsData">

                <div class="card">

                    <img class="card-img-top" src={{prod.imagepath}}>

                    <div class="card-body">

                        <h5 class="card-title">{{prod.ProdsName}}</h5>

                        <p class="card-text">{{prod.ProdsPrice}} </p>

                    </div>

                </div>

            </div>

        </div>

    </div> -->

    <!-- <div class="box" *ngIf="childUrl">

        <span style="font-weight: 600; font-size:20px">REQUEST A FREE QUOTE <img src="/assets/icon/call.png" style="width: 25px;"></span>

        <button class="button">Get Quote</button><br><br>

        <div class="underbox">Get answers and advice from people you want it from.</div>

    </div> -->

<!-- </section> -->

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
<app-child-partnt [child]="childinparent" (newVar)="viewVar($event)">
</app-child-partnt>
 

 

 

<section class="mt-3">

    <div class="container">

<div class="row">

    <div class="col-md-3">

        <div class="card">

            <img class="card-img-top" src="assets/amul.jpg" >

        <div class="card-body">

            <p>Amul</p>

            <h5>Rs-25.00</h5>

        </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <img src="assets/dairyMilk.jpg" alt="" class="img">

        <div class="card-body">

            <p>Dairy Milk </p>

            <h5>Rs-25.00</h5>

        </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <img src="assets/kisses.jpg" alt="" class="img">

        <div class="card-body">

            <p>Kisses </p>

            <h5>Rs-25.00</h5>

        </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <img src="assets/kisses.jpg" alt="" class="img">

        <div class="card-body">

            <p>Kisses </p>

            <h5>Rs-25.00</h5>

        </div>

        </div>

    </div>

    <!-- <div class="col-md-3">

        <div class="card">

            <img src="assets/icon/p5.png" alt="" class="img">

        <div class="card-body">

            <p>Product Name </p>

            <h5>$25.00</h5>

        </div>

        </div>

    </div> -->

    <!-- <div class="col-md-3">

        <div class="card">

            <img src="assets/icon/p6.png" alt="" class="img">

        <div class="card-body">

            <p>Product Name </p>

            <h5>$25.00</h5>

        </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <img src="assets/icon/p7.png" alt="" class="img">

        <div class="card-body">

            <p>Product Name </p>

            <h5>$25.00</h5>

        </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <img src="assets/icon/p1.png" alt="" class="img">

        <div class="card-body">

            <p>Product Name </p>

            <h5>$25.00</h5>

        </div>

        </div>

    </div> -->

</div>

</div>

</section>